@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
.App{
  min-height: 100vh;
  display: flex;
  background-size: cover;
  background-position: center;
  background-image: url('https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg?size=626&ext=jpg');
}
.right{
  height: 38rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  border-radius: 20px;
 
}
.left{
  height: 38rem;
  width: 400px;
  margin: 0.5rem;
  border-radius: 20px;
  padding: 8px;
  background: rgb(133,228,255);
/* background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(236,236,236,1) 48%, rgba(209,209,209,1) 100%); */
background-color:rgba(209,209,209,1) ;
  box-shadow: 20p;
}
.ip{
  display: flex;
  position: relative;
  top: 5%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #aaaaaa;
  
}
.message{
  position: relative;
  background-color: rgb(251, 255, 255);
  height: 80%;
  margin-bottom: 0.5rem;
  margin-top: -30px;
  top: 5%;
  overflow-y: auto;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: inset 0 0 10px #5f5e5d;
}
.profile{
  height: 50px;
  background-color: #5f5e5d;
}
.content{
 max-width: 200px;
  background-color: rgb(9, 185, 255);
  text-decoration: solid;
  border-radius: 20px;
  padding: 5px;
  margin: 4px;
}
.content2{
  
  
  background-color: rgb(251, 253, 253);
  text-decoration: solid;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  left: 75%;
  border-radius: 20px;
  padding: 5px;
  margin: 4px;
  display: flex;
  width: 100%;
}
.con{
  position: relative;
  max-width: 50%;
  background-color: rgb(251, 253, 253);
  text-decoration: solid;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  left: 75%;
  border-radius: 20px;
  padding: 5px;
  margin: 4px; 
}

.content3{
  width: 33%;
   background-color: rgb(9, 185, 255);
   text-decoration: solid;
   border-radius: 20px;
   
 }

  
